-f https://download.pytorch.org/whl/torch_stable.html
torch==1.5.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.1+cu101 
mxnet >= 1.4.0
gluonnlp >= 0.6.0
sentencepiece >= 0.1.6
onnxruntime >= 0.3.0
transformers==3.0.2